.label {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 14px;
  color: #4a76a8;
  margin-bottom: 8px;
  line-height: 1.2;
  font-weight: 400;
}

.select {
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #333;
  background-color: #f3f9ff;
  border: 1px solid #d3e2f5;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.select:focus {
  border-color: #4a76a8;
  cursor: pointer;
}

.select__option {
  padding: 10px;
}

.button {
  background-color: #5181b8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0;
  line-height: 1.2;
  height: 30%;
}

.button:hover {
  background-color: #3b6ca5;
}

.button:active {
  background-color: #30578e;
}

.action {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: end;
}

@media screen and (max-width: 540px) {
  .action {
    flex-direction: column;
    align-items: center;
  }
}

.pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.pagination .text {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.pagination .button {
  margin: 0 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.pagination .button span {
  font-size: 24px; /* Размер стрелок */
  color: #30578e;
  font-weight: 700;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

.pagination .button[disabled] span {
  color: #d3d3d3; /* Цвет для отключенной кнопки */
  cursor: not-allowed;
}